html {
	visibility: hidden;
}

#tagline button {
	display: inline-block;
	position: relative;
	z-index: 2;
	border: none;
	cursor: pointer;
	margin-right: 25px;
	padding-left: 50px;

	background-size: 144px 54px;
	height: 54px; width: 144px;
}

#betterLogo {
	padding: 0;
	float: left;
	font-size: 1em;
	margin: 0 5em 0 .5em;
}

.itemBar {
	position: absolute;
	width: 680px;
	height: inherit;
	z-index: 2;
}

.customDiscordBanner {
	background-image: url("chrome-extension://__MSG_@@extension_id__/resources/images/discordBanner.png");
	height: 150px; width: 287px;
	background-size: 287px 150px;
	background-color: inherit;
	border: none;
	cursor: pointer;
	z-index: 2;
	margin-right: 20px;
	margin-bottom: 25px;
}

.discordWidget {
	font-size: 1.5em;
	color: #9cf;
	position: absolute;
	top: 0;
	right: .333333em;
	bottom: 6px;
	z-index: 12;
}

.statusItem {
	color: #208ffe;
	font-size: .9em;
	font-weight: bold;
	margin: 0;
	padding: 0;
	-webkit-animation: msgfade .25s ease-out forwards;
	animation: msgfade .25s ease-out forwards
}

.statusItem.statusAnswer {
	font-size: .9em;
	font-weight: normal;
}

.settingsButton {
	background-image: url("chrome-extension://__MSG_@@extension_id__/resources/images/settingsButton.png")
}

.greetingButton {
	background-image: url("chrome-extension://__MSG_@@extension_id__/resources/images/greetingButton.png")
}

.homeButton {
	height: 57px; width: 236px;
	background-size: 236px 57px;
	border: none;
	background-color: inherit;
	background-image: url("chrome-extension://__MSG_@@extension_id__/resources/images/homeButton.png")
}

.ipLookupButton {
	display: inherit;
	position: inherit;
	z-index: inherit;
	border: inherit;
	cursor: inherit;
	margin-right: inherit;
	padding-left: inherit;
	background-size: inherit;
	height: inherit; width: inherit;
}
